.presentation-mode{
  height:100%;
  .slider-wrapper{
    height:130px;
    .slide{
      div{
        height:130px;
        position: relative;
      }
    }
  }
  .control-dots{
   margin: 10px;
  }
}

.uiCard{
  &:nth-child(2){
    .animated{
      transition-delay: 0.35s;
    }
  }
  &:nth-child(3){
    .animated{
      transition-delay: 0.70s;
    }
  }
}

@media (min-width: 1200px){
  .slider-wrapper{
    height:200px !important;
    .slide{
      div{
        height:200px !important;
      }
    }
  }
}